---
interface Props {
  title: string;
  description: string;
  image: string;
  tags: string[];
  link: string;
  span?: string; // For bento grid: col-span-1, col-span-2, etc.
}

const {
  title,
  description,
  image,
  tags,
  link,
  span = 'col-span-1',
} = Astro.props;
---

<article
  class={`group relative flex flex-col overflow-hidden rounded-2xl bg-card-bg border border-white/5 shadow-sm transition-all duration-300 hover:shadow-primary/25 hover:shadow-lg hover:-translate-y-1 ${span}`}
>
  <div class="relative h-48 w-full overflow-hidden">
    <div
      class="absolute inset-0 z-10 bg-linear-to-t from-black/80 to-transparent"
    >
    </div>
    <img
      src={image}
      alt={title}
      class="h-full w-full object-cover transition-transform duration-500 group-hover:scale-105"
      loading="lazy"
    />
  </div>

  <!-- Content -->
  <div class="z-20 flex flex-1 flex-col justify-between p-5">
    <div>
      <div class="mb-3 flex flex-wrap gap-2">
        {
          tags.map((tag) => (
            <span class="inline-flex items-center rounded-full border border-white/10 bg-white/5 px-2.5 py-0.5 text-xs font-medium text-gray-300">
              {tag}
            </span>
          ))
        }
      </div>
      <h3
        class="mb-2 text-xl font-bold text-white transition-colors group-hover:text-primary"
      >
        {title}
      </h3>
      <p class="text-sm text-gray-400">
        {description}
      </p>
    </div>

    <a
      href={link}
      target="_blank"
      rel="noopener noreferrer "
      class="mt-4 flex items-center text-sm font-bold text-purple-400"
    >
      Ver proyecto
      <svg
        class="ml-1 h-4 w-4 transition-transform group-hover:translate-x-1"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
      </svg>
    </a>
  </div>
</article>
